.lista-sombra {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;    }
    .lista-sombra li {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        transition: box-shadow 0.3s;
    }
    .lista-sombra li:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    }
