.lista-colores {
    list-style-type: none;
    padding-left: 25px;
}
.lista-colores li {
    position: relative;
    margin-bottom: 8px;
    padding-left: 25px;
}
.lista-colores li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.lista-colores li:nth-child(1)::before { background-color: #FF5722; }
.lista-colores li:nth-child(2)::before { background-color: #2196F3; }
.lista-colores li:nth-child(3)::before { background-color: #4CAF50; }
.lista-colores li:nth-child(4)::before { background-color: #FFC107; }
.lista-colores li:nth-child(5)::before { background-color: #9C27B0; }

