body {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f1f3f5;
}


form {
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}


h2 {
    grid-column: span 2;
    text-align: center;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


input,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


button {
    grid-column: span 2;
    background: #17a2b8;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
